div{
    <style/>
    #<color:grey; font-size:12px; height:200; width:2000;></color:grey><h1>(Header)<h1/> 
    #<color:grey; font-size:12px; height:200; width:2000;>
    <h2>(nav)</h2/>
    <br>

    #sidebar {
        float: left;
    } 
        <div><color:grey; font-size:12px; height:400; width:400;></color:grey><h3>(section)</h3>
            <color:grey; font-size:12px; height:100; width:100;><h3>(h1,h2,h3)</h3>
            <color:grey; font-size:12px; height:100; width:100;></color:grey><h3>(p)</h3>
}
